body, html
{
    width:100%;
    margin:0px; 
    padding: 0px; 
}


.cnt
{
    padding:20px;
}
table, tr, td
{
   border: 1px solid grey;
  
}

table {
     border-collapse: collapse;
     width:100%;
}
.value
{
    text-align:right; 
}